@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using RoundTableMVCore31.Controllers
@inject IStringLocalizer<DashBoardController> _localizer;


@{
    ViewData["Title"] = "Index";
    Layout = "~/Themes/AdminLte/_Blank.cshtml";
}


<h1>Index</h1>
<p>@_localizer["test"]</p>
