@using Microsoft.AspNetCore.Mvc.Localization
@using RoundTableMVCore31.Controllers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Themes/AdminLte/_Blank.cshtml";
}
 

<h1>Index</h1>

<p>@Localizer["test"]</p>